<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AXPreviewingCollectionViewFlowLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC420C151DEE7A84007050B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC420C2E1DEE7A84007050B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC420C391DEE7A84007050B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
